.faq-container li:focus{
  max-height:500px;
}

.faq-container li:focus .fa-chevron-down{
  transform: rotateZ(180deg);
}

.blue-btn:hover{
  color:#0061FF;
  background-color: white;
  box-shadow: 10px 5px 10px gray;
}

nav a:not(a.blue-btn):hover{
  text-decoration: underline;
}

.business-plan-content span>a:hover{
  text-decoration: none;
}

.partner-text-section a:hover{
  background-color: black;
  color:white;
}

.operation-container-content a:hover{
  text-decoration: none;
}

.dropbox-business-trial a:hover{
  background-color: #7f3753;
  color:white;
}

footer a:hover{
  text-decoration: underline;
}

#team-link:hover{
  text-decoration: none;
}

@keyframes point-down{
  from{
    padding-top:30px;
  }

  to{
    padding-top: 50px;
  }
}

.radio-container:hover input ~ .radio-check{
  background-color: #72a0eb;
}

.radio-container input:checked ~ .radio-check{
  background-color: #0061FF;
}

.radio-check:after{
  content:"";
  position:absolute;
  display:none;
}

.radio-container input:checked ~ .radio-check:after{
  display:block;
}

.radio-container .radio-check:after{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}