*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

[class*="col"]{
  float:left;
}

[class*="row"]:after{
  content: "";
  display: table;
  clear: both;
}

p{
  font-size: 16px;
}

h1{
  font-size: 77px;
}

h2{
  font-size: 40px;
  padding-bottom: 40px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 16px;
}

ul{
  list-style: none;
}

i{
  color: black;
}

main{
  padding-top:200px;
}


/*Column width*/
/************************************/
.col-1-9{
  width: calc(100% / 9);
}

.col-2-9{
  width: calc(100% / 9 * 2);
}

.col-3-9{
  width: calc(100% / 9 * 3 - 60px);
}

.col-4-9{
  width: calc(100% / 9 * 4);
}

.col-5-9{
  width: calc(100% / 9 * 5);
}

.col-6-9{
  width: calc(100% / 9 * 6);
}

.col-7-9{
  width: calc(100% / 9 * 7);
}

.col-9-9{
  width: 100%;
}
/************************************/

.small-text{
  font-size: 14px;
  padding: 20px 0;
}

.blue-btn{
  background-color: #0061FF;
  color: white;
  text-decoration: none;
  padding: 7px 20px;
}

.cyan-section{
  background-color:#B4D0E7;
}

.large-row{
  width: 1600px;
  margin: auto;
}

.row{
  width: 1300px;
  margin: auto;
}