nav{
  padding: 20px;
  background-color: white;
  width:100%;
  position:fixed;
  z-index: 1;
  box-shadow: 5px 5px 10px gray;
}

nav a{
  text-decoration: none;
  color:black;
  padding: 7px 20px;
  vertical-align: middle;
}

nav ul,li{
  display: inline-block;
  padding: 0 20px;
}

nav div{
  display:inline-block;
  width: 49%;
}

nav div:nth-child(2){
  text-align: end;
}

header{
  min-height: 850px;
}

.header img{
  width: 100%;

}

.row input{
  margin-bottom: 30px;
}

.row label{
  margin-right: 20px;
}

.business-plan-body h3{
  padding-bottom: 16px;
}

.business-plan-body h4{
  padding-bottom: 8px;
}

.business-plan-body span:first-of-type{
  color: gray;
}

.business-plan-body ul{
  padding: 50px 0;
}

.business-plan-body li{
  padding: 12px 0;
  padding-left: 22px;
}

.business-plan-body i[class*="fa-"]{
  margin-left: -22px;
}

.business-plan-body span:nth-of-type(2){
  display: inline-block;
  margin: 30px 0;
}

.business-plan-body hr{
  color:gray;
  width: 50px;
  margin-bottom: 50px;
}

.business-plan-container.col-3-9{
  padding-left: 40px;
  padding-right: 40px;
}

.business-plan-container.col-3-9 .business-plan-content{
  min-height: 1300px;
}

.business-plan-container.col-9-9{
  margin: 80px 0 150px;
  border: 1px solid gray;
  position: relative;
}

.business-plan-container.col-9-9 .business-plan-content{
  position: relative;
}

.business-plan-container.col-9-9 a{
  position:absolute;
  top:80px;
  right:50px;
  text-align: center;
}

.partner-text-section{
  padding:40px;
}

.partner-text-section a{
  text-decoration: none;
  border:1px solid;
  color:black;
  padding:10px 15px;
}

.partner-text-section p{
  padding-bottom: 30px;
}

.operation-container img{
  width:100%;
}

.operation-container p{
  margin-top: 20px;
}


/*Classes*/
/************************************/
.header{
  padding-top: 150px;
  position: relative;
  font-weight: bold;
}

.header-text{
  padding:40px 0;
}

.fa-arrow-down{
  font-size: 50px;
  padding: 30px 0;
}

.fa-check{
  color: #0061FF;
  padding-right: 5px;
}

.header-img{
  position: absolute;
  right:0;
}

.responsive-fix{
  margin-left: -40px;
  margin-right: -40px
}

.business-plan-content{
  border:1px solid gray;
  
}

.business-plan-header{
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.business-plan-body{
  padding: 40px 40px;
 
}

.operation-container{
  margin:0;
}

.operation-container-content{
  padding: 40px;
}

