nav{
  padding: 20px;
  background-color: white;
  width:100%;
  position:fixed;
  z-index: 1;
}

nav a{
  text-decoration: none;
  color:black;
  padding: 7px 20px;
  vertical-align: middle;
}

nav ul,li{
  display: inline-block;
  padding: 0 20px;
}

nav div{
  display:inline-block;
  width: 49%;
}

nav div:nth-child(2){
  text-align: end;
}

header{
  min-height: 850px;
}

.header img{
  width: 100%;

}

.header{
  padding-top: 150px;
  position: relative;
}

.header-text{
  padding:40px 0;
}

.fa-arrow-down{
  font-size: 50px;
  padding: 30px 0;
}

.header-img{
  position: absolute;
  right:0;
}